.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Foo{
    height: 80px;
    width: 100%;
    background-color: red;
    position:static;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: white;
}

.main{
    width: 100%;
    margin-top: 50px;
}